#box{
        width: 380px;
        margin:30px auto;
        font-family: '黑体';
        font-size: 14px;
    }
#searchbox{
        width: 290px;
        height: 35px
        border: 1px solid  #e2e2e2;
       
    }
#search{
        width: 80px;
        height: 30px;
        float: right;
        background: #0099ff;
        color: white;
        text-align: center;
    }
